<head>
  <%= stylesheet_link_tag '_print_label', media: 'all' %>
</head>

<body>
  <div class="outer-container">
    <div class="inner-top-container" >
      <img class="qr-code" src="<%= @drive.qr_image %>" />
      <div class="inner-top-left-container">
        <div>
          <p><%= @drive.name %> </p>
          <p>Job: <%= @drive.project %></p>
        </div>
      </div>
    </div>
    <div class="address-line">
      <%= @address %>
    </div>
  </div>
</body>
