<div class="form">
  <h2>New Archive Drive</h2>

  <div>
    <%= form_for @drive do |form| %>
      <%= render 'form_errors', target: @drive %>
      <%= form.text_field :number, placeholder: 'Drive Number' %>
      <%= form.label 'Select Drive Type:' %>
      <%= form.select :category, Drive.categories.keys.to_a %>
      <%= form.submit 'Create Drive' %>
    <% end %>
  </div>
</div>
