<section class="half--wide">
  <h2><%= @drive.name %></h2>
  <ul>
    <li>Project: <%= @drive.project %></li>
    <li>Brand: <%= @drive.brand %></li>
    <li>Capacity: <%= "#{@drive.capacity} TB" %></li>
    <li>Location: <%= @drive.location %></li>
    <li>Notes: <%= @drive.notes %></li>
  </ul>

  <img src="data: image/png; base64, <%= @drive.barcode %>" alt="Red dot" />

  <button>
    <%= link_to 'Edit', edit_drive_path(@drive) %>
  </button>

  <div class="admin-controls">
    <%= link_to 'Delete Drive', @drive, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</section>
