<section class="half--wide">
  <h2><%= @drive.number %></h2>
  <ul>
    <li>Number: <%= @drive.number %></li>
    <li>Category: <%= @drive.category %></li>
    <li>Cloned: <%= @drive.redundancy %></li>
  </ul>

  <div>
    <h3>Archived Projects</h3>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Project</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to "#{project.name}", Archive.find_by(drive_id: @drive, project_id: project) %></td>
            <td><%= project.job_number %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <button><%= link_to 'Edit', edit_drive_path(@drive) %></button>
  <div class="admin-controls">
    <%= link_to 'Delete Drive', @drive, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</section>
