<div style="
  border: 1px solid #999;
  border-radius: 3px;
  background: white;
  padding: 1em;">

  <h2 style="color: #999; font-weight: 100; font-size: 1.95em; margin: 0 0 0.75em;">
    New Drive Created
  </h2>

  <ul style="list-style-type: none;">
    <li>Name: <strong><%= @drive.name %></strong></li><br>
    <li>Project: <%= @drive.project %></li>
    <li>Brand: <%= @drive.brand %></li>
    <li>Capacity: <%= "#{@drive.capacity} TB" %></li>
    <li>Location: <%= @drive.location %></li>
    <li>Notes: <%= @drive.notes %></li>
  </ul>
</div>
