<h2>Edit Project</h2>

<div>
  <%= form_for @project do |form| %>
    <%= render 'form_errors', target: @project %>
    <%= form.text_field :project_number, placeholder: 'Project Number' %>
    <%= form.submit 'Update Project' %>
  <% end %>
</div>

<h2>Add Project to Archive</h2>

<div>
  <%= form_for @project do |form| %>
    
    <%= form.submit 'Add to Archive' %>
  <% end %>
</div>
