<section class="half--wide">
  <h2><%= @project.name %></h2>
  <ul>
    <li>Job Number: <%= @project.job_number %></li>
    <li>Status: <%= @project.status %></li>
  </ul>
  <div class="small-table">
    <h3>Archived in:</h3>
    <table class="table-minimal">
      <thead>
        <tr>
          <th>Number</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <% @drives.each do |drive| %>
          <tr>
            <td>
              <button class='new-window'>
                <%= link_to "᎒", drive, target: '_blank' %>
              </button>
              <%= link_to "#{drive.name}", Archive.find_by(drive_id: drive, project_id: @project) %>
            </td>
            <td><%= "2 TB" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <button class='small-button'>
      <%= link_to 'Add Archive', new_project_archive_path(@project) %>
    </button>
  </div>
  <button>
    <%= link_to 'Edit', edit_project_path(@project) %>
  </button>
  <div class="admin-controls">
    <%= link_to 'Delete Project', @project, method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</section>
