<div class="form">
  <h2>New Checkout for:</h2>
  <h3><%= link_to @drive.name, @drive %></h3>

  <div>
    <%= form_for [@drive, @checkout] do |form| %>
      <%= render 'form_errors', target: @checkout %>
      <%= form.label 'Checked out by:' %>
      <%= form.text_field :borrower, value: current_user.name_first_last %>
      <%= form.label 'Purpose:' %>
      <%= form.text_area :purpose, placeholder: 'Purpose' %>
      <%= form.hidden_field :borrow_date, value: DateTime.now %>
      <%= form.hidden_field :status, value: 'Checked Out' %>
      <%= form.submit 'Checkout' %>
    <% end %>
  </div>

</div>
