<div class="form">
  <h2>New Project Archive</h2>
  <%= form_for @archive do |form| %>
    <%= render 'form_errors', target: @archive %>
    <%= form.label 'Size on disk:' %>
    <%= form.number_field :size, step: 'any' %>
    <%= form.label 'Additional notes:' %>
    <%= form.text_area :notes %>
    <%= form.submit %>
  <% end %>
</div>
