<div class="form">
  <h2>New Project Archive</h2>
  <%= form_for [@project, @archive] do |form| %>
    <%= render 'form_errors', target: @archive %>
    <%= form.hidden_field :project_id, value: params[:project_id] %>
    <div class='collection-select'>
      <%= form.label "#{@project.name} ->" %>
      <%= form.collection_select :drive_id, Drive.all, :id, :name, { prompt: 'Click to Select'} %>
    </div>
    <%= form.submit "Add Archive" %>
  <% end %>
</div>
