<div class="form">
  <h2>New Project Archive</h2>
  <%= form_for @archive, url: project_archives_path(@archive.project) do |form| %>
    <%= render 'form_errors', target: @archive %>
    <div class='collection-select'>
      <%= form.label "#{@archive.project.name} ->" %>
      <%= form.collection_select :drive_id, Drive.all, :id, :name, { prompt: 'Click to Select' } %>
    </div>
    <%= form.submit "Add Archive" %>
  <% end %>
</div>
